<h3>New Signup</h3>
<form class="form">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="character">Character</label>
        {{view "select" id="character"
                        class="form-control"
                        content=characters
                        selection=character
                        optionValuePath="content.id"
                        optionLabelPath="content.label"}}

        <div class="row">
          <div class="col-md-6">
            <img class="new-signup-image" {{bind-attr src="character.image_url"}}/>
          </div>
          <div class="col-md-6">
            {{#each roleCheckboxes}}
              <div class="checkbox">
                <label>
                  {{input id=slug type="checkbox" checked=checked name=name}}
                  {{name}}
                </label>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
      <button class="btn btn-primary" {{action 'signup'}}>Sign Up</button>
    </div>
  </div>
</form>
