<h3>Signup</h3>
<form class="form">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="character">Character</label>
        <select id="character" class="form-control" onchange={{action "change"}}>
          {{#each characters as |item|}}
          <option value="{{item.model.id}}" selected={{eq character item}}>
            {{item.label}}
          </option>
          {{/each}}
        </select>
        {{input class="form-control" placeholder="Note" value=note}}

        {{#each roleCheckboxes as |box|}}
          <div class="checkbox">
            <label>
              {{input id=slug type="checkbox" checked=box.checked name=box.name}}
              {{box.name}}
            </label>
          </div>
        {{/each}}
      </div>
      <button class="btn btn-primary" {{action 'signup'}}>Sign Up</button>
    </div>
  </div>
</form>
