{{#if signup.seated}}
  <i {{bind-attr class="iconClasses"}}></i>
{{/if}}
<span {{bind-attr class=classes}}>{{signup.character.name}}</span>
{{#if signup.raid.admin}}
  <span class="pull-right">
    {{#if signup.seated}}
      <a {{action 'unseat'}}><i class="fa fa-arrow-circle-left fa-fw"></i></a>
    {{else}}
      {{#if signup.canBeSeated}}
        {{#each role in sortedRoles itemController="role"}}
        <a {{action 'seat' role}}><i {{bind-attr class="role.iconClasses"}}></i></a>
        {{/each}}
      {{/if}}
    {{/if}}
    <a {{action 'unsignup'}}><i class="fa fa-close fa-fw"></i></a>
  </span>
{{else}}
  {{#if mine}}
    <a {{action 'unsignup'}}><i class="fa fa-close fa-fw"></i></a>
  {{/if}}
{{/if}}
