<span {{bind-attr class=classes}}>{{signup.character.name}}</span>
<small>{{signup.character.level}}</small>
<small>
  {{#if signup.seated}}
    {{signup.role.name}}
  {{else}}
    {{#each signup.roles}}
      {{name}}
    {{/each}}
  {{/if}}
</small>
{{#if signup.seated}}
  <a {{action 'unseat'}}><i class="fa fa-arrow-circle-left fa-fw"></i></a>
{{else}}
  {{#if signup.canBeSeated}}
    {{#each signup.roles itemController="role"}}
    <a {{action 'seat' this}}><i {{bind-attr class="iconClasses"}}></i></a>
    {{/each}}
  {{/if}}
{{/if}}
<a {{action 'unsignup'}}><i class="fa fa-close fa-fw"></i></a>
