{{#if raid.admin}}
  <h2>Permissions</h2>
  <h3><i class="fa fa-fw fa-gavel"></i> Admins</h3>
  <div class="row">
    <div class="col-md-4">
      <form class="form">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              {{input class="form-control" placeholder="Battletag#9999" value=adminAccount}}
            </div>
            <button class="btn btn-primary" {{action 'newAdminPermission'}}>Add Admin</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-8">
      {{#each adminPermissions as |permission|}}
      {{raid-permission account=account permission=permission deletePermission="deletePermission"}}
      {{else}}
      <div class="text-muted">None</div>
      {{/each}}
    </div>
  </div>
  <hr/>
  <h3><i class="fa fa-fw fa-user"></i> Members</h3>
  <div class="row permission-forms">
    <div class="col-md-4">
      <form class="form">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Account</label>
              {{input class="form-control" placeholder="Battletag#9999" value=memberAccount}}
            </div>
            <button class="btn btn-primary" {{action 'newMemberAccountPermission'}}>Add Account</button>
          </div>
        </div>
      </form>
      <form class="form">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Character</label>
              {{input class="form-control" placeholder="Character Name" value=characterName}}
              {{input class="form-control" placeholder="Character Realm" value=characterRealm}}
            </div>
            <button class="btn btn-primary" {{action 'newMemberCharacterPermission'}}>Add Character</button>
          </div>
        </div>
      </form>
      <form class="form">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Guild</label>
              {{input class="form-control" placeholder="Guild Name" value=guildName}}
              {{input class="form-control" placeholder="Guild Realm" value=guildRealm}}
            </div>
            <button class="btn btn-primary" {{action 'newMemberGuildPermission'}}>Add Guild</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-8">
      {{#each memberPermissions as |permission|}}
      {{raid-permission account=account permission=permission deletePermission="deletePermission"}}
      {{else}}
      <div class="text-muted">None</div>
      {{/each}}
    </div>
  </div>

  <hr/>
  <h3><i class="fa fa-fw fa-save"></i> Saved Permissions</h3>
  <div class="row permission-forms">
    <div class="col-md-4">
      <form class="form">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              {{input class="form-control" placeholder="Layout Name" value=layoutName}}
            </div>
            <button class="btn btn-primary" {{action 'savePermissions'}}>Add Layout</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-8">
      {{#each permissionSets as |set|}}
      <a {{action 'applyPermissions' set}}>{{set}}</a>
      <a {{action 'deletePermissions' set}}><i class="fa fa-fw fa-close"></i></a>
      {{/each}}
    </div>
  </div>
{{/if}}
