{{#if signup.seated}}
  <i class="{{iconClasses}}"></i>
{{/if}}
<span class="{{classes}}">{{signup.model.character.name}} <small>{{signup.model.character.item_level}}</small></span>
{{#if signup.model.raid.admin}}
  <span class="seat pull-right">
    {{#if signup.model.seated}}
      <a {{action 'unseat'}}><i class="fa fa-arrow-circle-left fa-fw"></i></a>
    {{else}}
      {{#if signup.canBeSeated}}
        {{#each sortedRoles as |role|}}
        <a {{action 'seat' role}}><i class="{{role.iconClasses}}"></i></a>
        {{/each}}
      {{/if}}
    {{/if}}
    <a {{action 'unsignup'}}><i class="fa fa-close fa-fw"></i></a>
  </span>
{{else}}
  {{#if mine}}
    <a {{action 'unsignup'}}><i class="fa fa-close fa-fw"></i></a>
  {{/if}}
{{/if}}
