{{#link-to 'raids.new' class="btn btn-primary"}}<i class="fa fa-plus"></i> New Raid{{/link-to}}

<table class="table">
  <thead>
    <tr>
      <th>Realm</th>
      <th>Guild</th>
      <th>Title</th>
      <th>Date</th>
      <th>You</th>
      <th>Signups</th>
      <th>Creator</th>
    </tr>
  </thead>
  <tbody>
    {{#each raid in controller}}
      <tr>
        <td>{{raid.guild.realm}}</td>
        <td>{{raid.guild.name}}</td>
        <td>{{#link-to 'raid' raid.id data-content=raid.note data-toggle="popover"}}{{raid.name}}{{/link-to}}</td>
        <td><i class="fa fa-calendar"></i> {{raid.dateCalendar}} <small>{{dateAgo}}</small></td>
        <td>
          {{#if raid.currentAccountSeated}}
            <strong class="text-success">Seated on {{raid.currentAccountSeated.character.name}}</strong>
          {{else}}
            {{#if raid.currentAccountSignedUp}}
              <strong class="text-info">Signed Up</strong>
            {{else}}
              <strong class="text-danger">Not Signed Up!</strong>
            {{/if}}
          {{/if}}
        </td>
        <td>
          <span title="Accounts signed up">{{raid.accountSignups}} <i class="fa fa-users fa-fw"></i></span>&nbsp;&nbsp;&nbsp;
          <span title="Accounts on the waiting list">{{raid.accountWaitingList}} <i class="fa fa-bars fa-fw"></i></span>&nbsp;&nbsp;&nbsp;
          <span title="Seated accounts">{{raid.accountSeated}} <i class="fa fa-check fa-fw"></i></span>&nbsp;&nbsp;&nbsp;
        </td>
        <td>{{raid.account.battletag}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
