{{#link-to 'raids.new' class="btn btn-primary"}}<i class="fa fa-plus"></i> New Raid{{/link-to}}

<table class="table">
  <thead>
    <tr><th>Title</th><th>Date</th><th>Signups</th><th>Guilds</th></tr>
  </thead>
  <tbody>
    {{#each}}
      <tr>
        <td>{{#link-to 'raid.index' this data-content=note data-toggle="popover"}}{{name}}{{/link-to}}</td>
        <td><i class="fa fa-calendar"</i> {{dateCalendar}} <small>{{dateAgo}}</small></td>
        <td><i class="fa fa-user"></i> {{totalSignups}} / {{totalSlots}}</td>
        <td></td>
      </tr>
    {{/each}}
  </tbody>
</table>
