{{#link-to 'raids.new' class="btn btn-primary"}}<i class="fa fa-plus"></i> New Raid{{/link-to}}

<table class="table">
  <thead>
    <tr><th>Title</th><th>Date</th><th>Signups</th><th>Roles</th><th>Creator</th></tr>
  </thead>
  <tbody>
    {{#each raid in arrangedContent itemController="raid"}}
      <tr>
        <td>{{#link-to 'raid' raid.id data-content=raid.note data-toggle="popover"}}{{raid.name}}{{/link-to}}</td>
        <td><i class="fa fa-calendar"></i> {{raid.dateCalendar}} <small>{{dateAgo}}</small></td>
        <td>
          <span title="Accounts signed up">{{raid.accountSignups}} <i class="fa fa-users fa-fw"></i></span>&nbsp;&nbsp;&nbsp;
          <span title="Accounts on the waiting list">{{raid.accountWaitingList}} <i class="fa fa-bars fa-fw"></i></span>&nbsp;&nbsp;&nbsp;
          <span title="Seated accounts">{{raid.accountSeated}} <i class="fa fa-check fa-fw"></i></span>&nbsp;&nbsp;&nbsp;
        </td>
        <td>
          {{#each role in roles itemController="role"}}
          <span {{bind-attr title="role.name"}} {{bind-attr class="role.statClasses"}}>{{role.number}} <i {{bind-attr class="role.iconClasses"}}></i>&nbsp;&nbsp;&nbsp;
          {{/each}}
        </td>
        <td>{{raid.account.battletag}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
