<div class="well form">
  <div class="form-group">
    <label for="realms">Realm</label>
    <select id="realms" class="form-control" onchange={{action "changeRealm" value="target.value"}}>
      {{#each realms as |item|}}
      <option value={{item}} selected={{eq realm item}}>
        {{item}}
      </option>
      {{/each}}
    </select>
  </div>
  <div class="checkbox">
    <label>{{input type="checkbox" checked=onlyMax}} Only show max level characters</label>
  </div>
</div>
<div class="characters-list">
  {{#each filtered as |character|}}
    <div class="character">
      <h3>{{character.name}} <small>{{character.level}} {{character.realm}}</small></h3>
      <img class="character" src="{{character.image_url}}"/>
      <p>{{character-race character.race_id}} {{character-class character.class_id}}</p>
      <p class="links">
        <a href="{{character.armoryUrl}}"><img src="images/wow.png"/></a>
        <a href="{{character.wowheadUrl}}"><img src="images/wowhead.png"/></a>
        <a href="{{character.robotUrl}}"><img src="images/robot.png"/></a>
      </p>
    </div>
  {{else}}
    <div class="empty">
      <div class="alert alert-info">No {{#if onlyMax}}max level {{/if}}characters</div>
    </div>
  {{/each}}
</div>
