<div class="well form">
  <div class="form-group">
    <label for="realms">Realm</label>
    <select id="realms" class="form-control" onchange={{action "changeRealm" value="target.value"}}>
      {{#each realms as |item|}}
      <option value={{item}} selected={{eq realm item}}>
        {{item}}
      </option>
      {{/each}}
    </select>
  </div>
  <div class="checkbox">
    <label>{{input type="checkbox" checked=onlyMax}} Only show max level characters</label>
  </div>
</div>
<div class="characters-list">
  {{#each filtered as |character|}}
    {{character-display character=character}}
  {{else}}
    <div class="empty">
      <div class="alert alert-info">No {{#if onlyMax}}max level {{/if}}characters</div>
    </div>
  {{/each}}
</div>
