<div class="well form">
  <div class="form-group">
    <label for="realms">Realm</label>
    {{view "select" id="realms" class="form-control" content=realms value=realm}}
  </div>
  <div class="checkbox">
    <label>{{input type="checkbox" checked=onlyMax}} Only show level 90 characters</label>
  </div>
</div>
<div class="characters-list">
  {{#each character in filtered itemController="character"}}
    <div class="character">
      <h3>{{character.name}} <small>{{character.level}} {{character.realm}}</small></h3>
      <img {{bind-attr src="character.image_url"}}/>
      <p>{{character-race character.race_id}} {{character-class character.class_id}}</p>
      <p>
        <a {{bind-attr href="character.armoryUrl"}}><img height="32" src="http://hydra-media.cursecdn.com/wowpedia.org/d/d3/Wow-icon-scalable.svg"/></a>
        <a {{bind-attr href="character.robotUrl"}}><img height="32" src="http://www.askmrrobot.com/content/images/ui/Favicon114.png"/></a>
        <a {{bind-attr href="character.wowheadUrl"}}><img height="32" src="http://static.zealous-studios.co.uk/projects/wowwiki/images/Icon-wowhead-32x32.png"/></a>
      </p>
    </div>
  {{else}}
    <div class="empty">
      <div class="alert alert-info">No {{#if onlyMax}}Max Level {{/if}}Characters</div>
    </div>
  {{/each}}
</div>
