<div class="raid-wrapper">
  <section class="info">
    <p><i class="fa fa-calendar fa-fw"></i> {{model.dateCalendar}} <small class="gray">{{model.dateAgo}}</small></p>
    <p><i class="fa fa-clock-o fa-fw"></i> {{model.dateTime}}</p>
    {{#if model.guild}}
      <p><i class="fa fa-users fa-fw"></i> <a href="{{model.guild.url}}">{{model.guild.name}}</a></p>
    {{/if}}
    {{#if model.averageItemLevels.total}}
      <p><i class="fa fa-gear fa-fw"></i> Avg iLvl {{model.averageItemLevels.total}}</p>
    {{/if}}
    {{#if model.admin}}
      {{#if model.hidden}}
        {{#if model.finalized}}
          <p><i class="fa fa-lock fa-fw"></i> <a {{action "unfinalize"}}>Finalized</a></p>
        {{else}}
          <p><i class="fa fa-unlock fa-fw"></i> <a {{action "finalize"}}>Not Finalized</a></p>
        {{/if}}
        <p><i class="fa fa-eye-slash fa-fw"></i> <a {{action "unhide"}}>Hidden</a></p>
      {{else}}
        <p><i class="fa fa-eye fa-fw"></i> <a {{action "hide"}}>Visible</a></p>
      {{/if}}
      <p><i class="fa fa-legal fa-fw"></i> You're an admin</p>
      <p><i class="fa fa-pencil fa-fw"></i> {{#link-to 'raid.edit' this.model}}Edit{{/link-to}}</p>
    {{else}}
      {{#if model.finalized}}
        <p><i class="fa fa-lock fa-fw"></i> Finalized</p>
      {{else}}
        <p><i class="fa fa-unlock fa-fw"></i> Not Finalized</p>
      {{/if}}
    {{/if}}
    {{#if model.note}}<p><i class="fa fa-file-text-o fa-fw"></i> {{model.note}}</p>{{/if}}
      {{#if selectedSignup}}
        {{#character-display character=selectedSignup.character}}
          {{#if selectedSignup.note}}
            <p class="note"><span>Note:</span> {{selectedSignup.note}}</p>
          {{/if}}
        {{/character-display}}
      {{/if}}
    {{character-select characters=characters action="signup"}}
  </section>
  <section class="signups">
    <div class="wrapper">
      <div class="signup-wrapper waiting-list">
        <h3><i class="fa fa-clock-o fa-fw"></i> <small>Waiting List</small></h3>
        {{#each model.waitingListByAccount as |waitingListAccount|}}
          <h4>{{waitingListAccount.account.battletag}}</h4>
          {{#each waitingListAccount.signups as |signup|}}
          {{raid-signup signup=signup currentAccount=currentAccount selected=(eq selectedSignup signup) click=(action "selectSignup" signup) seat=(action "seat") unseat=(action "unseat") unsignup=(action "unsignup")}}
          {{/each}}
        {{/each}}
      </div>
      {{#each seatedByRole as |seatedRole|}}
        <div class="signup-wrapper">
          <h3>
            <i class="{{seatedRole.role.iconClasses}}"></i>
            <small>
              {{seatedRole.role.name}}
              {{#if (get model.averageItemLevels seatedRole.role.slug)}}
              - {{get model.averageItemLevels seatedRole.role.slug}}
              {{/if}}
            </small>
          </h3>
          {{#each seatedRole.signups as |signup|}}
          {{raid-signup signup=signup currentAccount=currentAccount selected=(eq selectedSignup signup) select=(action "selectSignup" signup) seat=(action "seat") unseat=(action "unseat") unsignup=(action "unsignup")}}
          {{/each}}
        </div>
      {{/each}}
    </div>
  </section>
</div>
