<div class="raid">
  <section class="title">
    <h1>{{name}}</h1>
    <div class="stats">
      {{#each sortedRoles itemController="role"}}
      <div {{bind-attr title="name"}} {{bind-attr class="statClasses"}}>{{number}} <i {{bind-attr class="iconClasses"}}></i></div>
      {{/each}}
      <div title="Seated accounts" class="stat">{{accountSeated}} <i class="fa fa-check fa-fw"></i></div>
      <div title="Accounts on the waiting list" class="stat">{{accountWaitingList}} <i class="fa fa-bars fa-fw"></i></div>
      <div title="Accounts signed up" class="stat">{{accountSignups}} <i class="fa fa-users fa-fw"></i></div>
    </div>
  </section>
  <section class="alerts">
    <div class="wrapper">
      {{#if currentAccountSeated}}
        <div class="alert alert-success" role="alert">
          <img {{bind-attr src="currentAccountSeated.character.image_url"}}/>
          <strong>Seated</strong>
          on {{currentAccountSeated.character.name}}. See you at the raid!
        </div>
      {{else}}
        {{#if currentAccountSignedUp}}
          <div class="alert alert-info" role="alert">
            You have {{currentAccountSignedUp.length}} characters on the <strong>Waiting List</strong>.
          </div>
        {{else}}
          <div class="alert alert-danger" role="alert">
            <strong>Not Signed Up!</strong>
            Sign up using the form below!
          </div>
        {{/if}}
      {{/if}}
    </div>
  </section>
  <div class="raid-wrapper">
    <section class="info">
      <p><i class="fa fa-calendar fa-fw"></i> {{dateCalendar}} <small>{{dateAgo}}</small></p>
      <p><i class="fa fa-shield fa-fw"></i> {{groups.tanks}} tanks required</p>
      <p><i class="fa fa-ambulance fa-fw"></i> {{groups.healers}} healers required</p>
      <p><i class="fa fa-pie-chart fa-fw"></i> {{groups.number}} group{{#if moreThanOneGroup}}s{{/if}} of {{groups.size}}</p>
      {{#if admin}}
        <p><i class="fa fa-legal fa-fw"></i> You're an admin</p>
      {{/if}}
      {{#if note}}<p><i class="fa fa-pencil fa-fw"></i> {{note}}</p>{{/if}}
      {{character-select characters=characters action="signup"}}
      {{raid-permissions raid=this account=account newPermission="newPermission" deletePermission="deletePermission"}}
    </section>
    {{#if hasSeated}}
    <section class="seated">
      <div class="wrapper">
        {{#each seated itemController="signup"}}
        <div class="signup-wrapper">{{raid-signup signup=this account=account seat="seat" unseat="unseat" unsignup="unsignup"}}</div>
        {{/each}}
      </div>
    </section>
    {{/if}}
    {{#if hasWaitingList}}
      <section class="waiting-list">
        <h3>Waiting List</h3>
        <div class="wrapper">
          {{#each waitingList itemController="signup"}}
          <div class="signup-wrapper">{{raid-signup signup=this account=account seat="seat" unseat="unseat" unsignup="unsignup"}}</div>
          {{/each}}
        </div>
      </section>
    {{/if}}
    <section class="graphs">
      <div class="wrapper">
        {{donut-graph title="Signed Up Classes" data=classData}}
        {{donut-graph title="Signed Up Roles" data=roleData}}
        {{donut-graph title="Seated Classes" data=seatedClassData}}
        {{donut-graph title="Seated Roles" data=seatedRoleData}}
      </div>
    </section>
  </div>
</div>
