<div class="raid">
  <section class="title">
    <h1>{{guild-icon guild=model.guild}}{{model.name}}</h1>
    <div class="stats">
      <div title="Seated accounts" class="stat">{{model.accountSeated}} <i class="fa fa-check fa-fw"></i></div>
      <div title="Accounts on the waiting list" class="stat">{{model.accountWaitingList}} <i class="fa fa-bars fa-fw"></i></div>
      <div title="Accounts signed up" class="stat">{{model.accountSignups}} <i class="fa fa-users fa-fw"></i></div>
    </div>
  </section>
  <section class="alerts">
    <div class="wrapper">
      {{#if accountSeated}}
        <div class="alert alert-success" role="alert">
          <strong>Seated</strong>
          on {{accountSeated.character.name}}. See you at the raid!
        </div>
      {{else}}
        {{#if accountSignedUp}}
          <div class="alert alert-info" role="alert">
            You have {{accountSignedUp.length}} characters on the <strong>Waiting List</strong>.
          </div>
        {{else}}
          <div class="alert alert-danger" role="alert">
            <strong>Not Signed Up!</strong>
            Sign up using the form below!
          </div>
        {{/if}}
      {{/if}}
      {{#if model.hiddenAndNotFinalized}}
        <div class="alert alert-danger" role="alert">
          <strong>Raid is not yet finalized!</strong>
          You will not be able to see the seating arrangement until the raid is finalized.
        </div>
      {{/if}}
    </div>
  </section>
  {{liquid-outlet}}
</div>
