<h1>{{user.battle_tag}}</h1>
<dl>
  <dt>By Fire Be Purged API Key</dt>
  <dd>{{session.apikey}}</dd>
</dl>
<div class="characters">
  <h2>Characters</h2>
  <div class="well form-inline">
    <div class="col-xs-2">
      <label for="realms">Realm</label>
      {{view Ember.Select id="realms" content=realms value=realm}}
    </div>
    <div class="checkbox col-xs-4">
      <label class="checkbox-inline">{{input type="checkbox" checked=onlyMax}} Only show level 90 characters</label>
    </div>
  </div>
  {{#each character in characters}}
    <div class="character">
      <h3>{{character.name}} <small>{{character.level}} {{character.realm}}</small></h3>
      <img {{bind-attr src="character.image_url"}}/>
      <p>{{class character.class}}</p>
      <p>{{character.spec.name}}</p>
      <p><span {{bind-attr class="character.faction character.race"}}>{{race character.race}}</span></p>
    </div>
  {{else}}
    <div class="alert alert-info">No {{#if onlyMax}}Max Level {{/if}}Characters</div>
  {{/each}}
</div>
